@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  color: yellow;
}

#header {
  width: 400px;
  margin: 50px auto 20px auto;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

h1,
h2,
h3,
p {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffcb05;
}

#container {
  width: 600px;
  margin: 20px auto 0 auto;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to left, #003e7a 10%, #1e90ff 75%, #003e7a);
  border-radius: 10%;
  border: 5px #1e90ff ridge;
}

#title {
  width: 380px;
  margin: 35px auto 20px auto;
  text-align: center;
}

#search-button {
  margin-left: 20px;
  border-radius: 15%;
  background-color: #ffcb05;
}

input {
  margin-left: 150px;
}

#loading-spinner {
  text-align: center;
  margin-top: 20px;
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
}

#search-results {
  display: none;
  width: 600px;
  margin: 20px auto 0 auto;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to left, #003e7a 10%, #1e90ff 75%, #003e7a);
  border-radius: 10%;
  border: 5px #1e90ff ridge;
}

h2 {
  margin-top: 30px;
  text-align: center;
}

h3 {
  text-align: center;
}

#weight-height {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#sprite-container {
  width: 300px;
  margin: 20px auto;
}

img {
  height: 200px;
  width: 175px;
}

#types-hp {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#attack-defense {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#speed {
  text-align: center;
}

#clear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#clear-button {
  display: none;
  border-radius: 15%;
  background-color: #ffcb05;
}
