@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #36454f;
  color: yellow;
}

#header {
  width: 400px;
  margin: 50px auto 20px auto;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

h1,
h2,
h3,
p {
  font-family: "Pokemon Solid", sans-serif;
  color: yellow;
}

#container {
  width: 600px;
  margin: 20px auto 0 auto;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1e90ff;
  border-radius: 10%;
  border: 5px #1e90ff ridge;
}
#title {
  width: 380px;
  margin: 35px auto 20px auto;
  text-align: center;
}

#search-button {
  margin-left: 20px;
  border-radius: 15%;
  background-color: blue;
  color: yellow;
}

input {
  margin-left: 150px;
}

h2 {
  margin-top: 30px;
  color: yellow;
  text-align: center;
}

h3 {
  color: yellow;
  text-align: center;
}

p {
  color: yellow;
}
